{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="a-container">
	<div class="image-body">
	    <h3>ABOUT DJ MASUMBUKO</h3>
	    <img src="{% static 'mywebapp/images/img2.jpg' %}" width="1080" height="800">
	    		<p>Dj Masumbuko alias Brian Masumbuko is a professional deejay based in Kenya. He started his deejayig career in 2019 at Cliq Deejaying Academy after <br> <br> completing highschool in 2018 at Kiurani High School.
	    		"I have a strong passion in music. Before becoming a deejay, I  was a dancer since when I was little,<br> <br> had performed in weddings, harambees and other events. My deejaying journey began few months before joining Catholic University of Easter Africa (CUEA) <br> <br> where am taking Bachelor of Science in Computer Science." </p>
     </div>
</div>

{% endblock content %}